<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>name</th>
        </tr>
    </thead>
    　<tbody>
    　  <% users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50,fallback: "no_image_big.jpg"%></td>
          <td><%= link_to user.name , user_path(user) %></td>
        </tr>
       <% end %>
      </tbody>
</table>